{% load static %}
{% load plotly_dash %}
<!DOCTYPE html>
<html>
    <head>       
        <title>Métricas</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="{% static 'css/global.css' %}" />
        <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
        <link rel="stylesheet" href="{% static 'css/home.css' %}" />
        <link rel="stylesheet" href="{% static 'css/dark.css' %}" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="stylesheet" href="{% static 'css/containers.css' %}" />
        <link rel="stylesheet" href="{% static 'css/header.css' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    </head>

    <body class="dash-template">   
        <header class="header-top">
            <div class="nav-wrapper">
                <a href="/">
                    <h1>Inicio</h1>
                </a>
            </div>
        </header>         
        {% include 'navbar.html' %}

        <div class="content-container">
            <div>
                <h1>Métricas</h1>
                <p>Agregar introducción y cosas random</p>
            </div>
            {# Sección necesaria  por usar 'plotly_direct' -> header&footer #}
            {% plotly_header %}
            <div class="{% plotly_class name='section_metricas' %} card" style="height: 100%; width: 100%">
                {% plotly_direct name='section_metricas' %}
            </div>
            {% plotly_footer %}
        </div>
        <footer>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script type="text/javascript" src="../../../static/js/barra.js"></script>
        </footer>
    </body>
</html>

